.Product {
  background-color: rgb(255, 255, 255);
}
.Product .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product .img__container {
  padding: 1rem;
  flex: 0 0 250px;
  border-radius: 1rem;
  overflow: hidden;
  & img {
    width: 100%;
    display: block;
    border-radius: 1rem;
  }
}
.Product .content {
  & .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 18px;
    & h2 {
      // flex: 1 1 0;
      font-weight: 555;
      color: rgb(0, 0, 0);
      text-shadow: 0 0 0px rgb(0, 0, 0);
    }
    & h3 {
      flex: 0 1 0;
      margin: 1.5rem 0 0.5rem 0;
      color: rgb(0, 0, 0);
      // text-shadow: 0 0 10px burlywood;
      // border-bottom: 3px solid rgb(0, 55, 255);
      font-size: 16px;
    }
    & p {
      color: rgb(0, 0, 0);
      text-indent: 25px;
      font-size: 14px;
      line-height: 24px;
      // flex: 0 1 30%;
    }

    /*
      
   */

    & article {
      display: block;
      padding: 0.6rem;
      // justify-content: space-between;
      // text-align: center;
      // justify-content: space-between;

      & .price {
        color: rgb(255, 255, 255);
        background-color: #000000;
        padding: 0.8rem 2rem 0.8rem 0.3rem;
        display: inline-block;
        margin: 0 1rem;
        border-bottom: 3px solid red;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        margin-right: 2rem;
        border-radius: 25px 0 22px 0;
        font-size: 20px;
      }

      & a {
        display: inline-block;
        background-color: rgb(0, 26, 255);
        padding: 1rem 1.5rem;
        border-radius: 0.3rem;
        color: red;
      }
      & a:hover {
        box-shadow: 0 0 10px rgb(0, 0, 0);
        transition: all 0.2s;
      }
    }
  }
}

@media (max-width: 750px) {
  .Product .content {
    & .block {
      & h2 {
        font-size: 15px;
      }
      & h3 {
        margin: 0.5rem 0 0.1rem 0;
        font-size: 14px;
      }
      & p {
        line-height: 18px;
      }
    }
  }
}
@media (max-width: 635px) {
  .Product .content {
    & .block {
      & h3 {
      }
      & p {
        text-indent: 1px;
        font-size: 12px;
        line-height: 15px;
      }
      & article {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & .price {
          text-align: center;
          color: rgb(255, 255, 255);
          background-color: #000000;
          padding: 1rem 1rem 0.5rem 1rem;
          display: inline-block;
          // margin: 0 1rem;
          border-bottom: 3px solid rgb(0, 106, 255);
          box-shadow: 0 0 10px rgb(0, 0, 0);
          margin-right: 2rem;
          border-radius: 15px 0 22px 0;
          font-size: 20px;
          // margin-top: .5rem;
        }
      }
    }
  }
}
@media (max-width: 630px) {
  .Product .content {
    & .block {
      & h3 {
      }
      & p {
        text-indent: 0px;
        font-size: 10px;
        line-height: 13px;
      }
      & article {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & .price {
          text-align: center;
          color: rgb(255, 255, 255);
          background-color: #000000;
          padding: 1rem 1rem 0.5rem 1rem;
          display: inline-block;
          // margin: 0 1rem;
          border-bottom: 3px solid rgb(0, 106, 255);
          box-shadow: 0 0 10px rgb(0, 0, 0);
          margin-right: 2rem;
          border-radius: 15px 0 22px 0;
          font-size: 20px;
          // margin-bottom: 1rem;
        }
      }
    }
  }
}
@media (max-width: 562px) {
  .Product .content {
    & .block {
      & h3 {
      }
      & p {
        text-indent: 0px;
        font-size: 10px;
        line-height: 13px;
      }
      & article {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & .price {
          text-align: center;
          color: rgb(255, 255, 255);
          background-color: #000000;
          padding: 1rem 1rem 0.5rem 1rem;
          display: inline-block;
          // margin: 0 1rem;
          border-bottom: 3px solid rgb(0, 106, 255);
          box-shadow: 0 0 10px rgb(0, 0, 0);
          margin-right: 2rem;
          border-radius: 15px 0 22px 0;
          font-size: 20px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
//   Product

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgb(101, 100, 100) 0%,
    rgba(101, 99, 99, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: gray;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 80px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1100px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: rgb(82, 82, 82) solid 3px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}

// Products2
