/* .Headers {
  min-height: 70vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-size: cover;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  background-position:  bottom right;
  

  
}
.Headers h1 {
  margin: 0;
  color: rgb(226, 221, 218);

  margin-left: 10px;
  text-shadow: rgb(251, 250, 254) 1px 1px 1px ;
  font-family: "Abril Fatface", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Cinzel", serif;
  font-size: 2.8rem;
  list-style-type: square;
  margin-top: -65px;
}
.Headers p {
  margin-left: 10px;
  text-shadow: rgb(251, 250, 254) 1px 1px 1px ;
  color: rgb(226, 221, 218);
  font-family: "Abril Fatface", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Cinzel", serif;
  font-size: 1.7rem;
} */

 .Headers {
  position: relative;
  margin-bottom: 5rem;
}

.Headers img {
  width: 100%;
  height: 70vh;
  min-height: 380px;
  object-fit: cover;
  object-position: center;

  margin: 2rem 0;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.Headers section {
  position: absolute;
  bottom: -7rem;
  right: 2rem;
  max-width: 500px;
  margin-left: 2rem;

  background-color: white;
  padding: 0 2rem 0;
  border-radius: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  font-family: "Abril Fatface", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Cinzel", serif;
}
.Headers h1 {
  font-size: 2rem;
} 
