h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cinzel', serif;
    margin-left: 3px;
}
article{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cinzel', serif;
    margin-left: 30px;

}