.Footer {
    background-color: rgb(63, 29, 5);
    padding: .3rem;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Cinzel', serif;
  }