.Logo {
  padding: 0 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Abril Fatface", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Cinzel", serif;
  
}
.logotip{
  width: 33px;
  height: 33px; 
   margin-bottom: -9px;
  margin-left: -6px; 
}

 span{
  margin-left:12px;
}